<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style/main.css">

  <script src="https://kit.fontawesome.com/d45b7ae9b8.js" crossorigin="anonymous"></script>

  <title>GameProfile</title>
</head>
<body>
  <div class="games-wrapper">
    <div class="games-phone">
      <img class="" src="img/kratos1.png" alt="">
    </div>
    <div class="games-continue">
      <div class="group">
        <h1 class="GameProfileLogo">GameProfile</h1>
        <div class="profile-photo">
          <img class="profile-img" src="img/profilePhoto.jpeg" alt="Profile Photo">
        </div>
          <a href="#" class="games-login">Continue as <span>Drake</span></a>
          <a href="#" class="games-logout">Remove your account</a>
      </div>
      <div class="group">
        <p class="not-account">Not Drake?</p>
        <p class="not-account">
          <span class="link-blue">Change account</span>
          Or
          <span class="link-blue">Sign up</span>
        </p>
      </div>
      <div class="get-the-app">
        <p class="get-app">Download now.</p>
        <div class="download">
          <a class="download-text" href="#" class="app-download"><i class="fab fa-google-play fa-2x"></i>
          </a>
          <a class="download-text" href="#" class="app-download"><i class="fab fa-apple fa-2x"></i>
          </a>
        </div>
      </div>
      
    </div>
  </div>
  